* {
	background-color: #884411;

}
#name {
	color: #368294;
	

}
ul,
ol {
	list-style: none;

}
.header  {
    text-align: center;
    
  
 }
 
 a {
 	color: #368294;
 }
 h2 {
	text-align: center;
 }

.education {
	border-top: solid;
	width: 50%;
	border-color: #968284;
	margin-bottom: 5px;
	text-align: center;
	margin: 0% 25% 0%;
	
}

 .intent {
 	border-top: solid;
 	border-color: #124949;
 	width: 50%;
 	margin: 0% 25% 0% 25%;
 	padding: 7px;
 	box-sizing: border-box;
 }

.skills li {
	list-style: circle;
	}
.skills {
	width: 45%;
	border-top: solid;
	width: 50%;
	border-color: #394716;
	margin: 0% 25% 0% 25%;
	
}

.references {
    border-top: solid;
    border-color: green;
	padding: 3px;
	width: 50%;
	margin: 0% 25% 0% 25%;
	text-align: center;
	
}

#footer {
	text-align: center;	
}
