
#name {
	color: #368294;
	background: black;

}
ul,
ol {
	list-style: none;

}
.header  {
    text-align: right;
    background: black;
  
 }
 
 a {
 	color: #368294;
 }
 h2 {
	text-align: center;
 }
.education {
	border: solid;
	width: 30%;
	background-color: #884411;
	display: inline-block;
	
}

 .intent {
 	border: solid;
 	background-color: #124949;
 	color: gray;
 	width: 69%;
 	display: inline-block;
 	padding: 5px;
 	box-sizing: border-box;
 }

.skills li {
	list-style: circle;
	}
.skills {
	width: 45%;
	border: solid;
	width: 66%;
	background-color: #304716;
	display: inline-block;
}

.references {
    border: solid;
    background-color: #968284;
    display: inline-block;
    border-color: green;
	padding: 3px;
	width: 30%;

}

#footer {
	text-align: center;	
}
